@import url('https://fonts.googleapis.com/css?family=Raleway');

/* TEXT BUBBLE */

.text-bubble {
  border: 1pt solid #e4edfa;
  border-radius: 0.6em;
  background: white;
  padding: 1em;
  font-size: 10pt;
  margin-bottom: 0.6em;
}

.own {
  margin-left: 15%;
}

.other {
  margin-right: 15%;
}

.text-bubble .header .author, 
.text-bubble .grade {
  font-weight: bold;
  color: #222;
}

.text-bubble .header .time {
  color: #afb6c5;
  margin-left: 1ch;
}

.text-bubble p {
  color: #2f2f2f;
  margin: 1em 0;
}

.text-bubble .footer {
  color: #9da6b8;
}

/* FEEDBACK FORM */

.feedback-form textarea {
  box-sizing: border-box;
  resize: vertical;
  width: 100%;
  min-height: 5.5em;
  margin: 0.6em auto;
  padding: 0.5em;
  border: 1pt solid #cfd0d4;
  border-radius: 0.3em;
  font-size: 11pt;
}

.feedback-form textarea::placeholder {
  color: #c0c1c4;
}

.feedback-form input {
  float: right;
  font-weight: bold;
  font-size: 10pt;
  padding: 0.3em 1em 0.6em;
}

.feedback-form input[type="submit"] {
  background: #3279db;
  border: 1pt solid #2c6bc4;
  border-bottom-width: 3pt;
  border-radius: 0.3em;
  color: white;
}

.feedback-form input[type="button"] {
  background: none;
  color: #9aa3b4;
  border-color: rgba(0,0,0,0);
  border-bottom-width: 5pt;
}